/* Ramka, marginesy, wyśrodkowanie i maksymalna szerokość */
.user-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #272727;
    justify-content: center;
    margin: 15px auto;
    max-width: 700px;
}

/* Marginesy i rozmiar czcionki */
.user-form > * {
    font-size: 1.2em;
    margin: 5px;
}

/* Większe inputy i przycisk, aby były wygodniejsze na urządzeniach mobilnych */
.user-form > input,
.user-form > button {
    padding: 20px;
    border: 1px solid #272727;
}

.user-form-title {
    margin: 16px auto;
}

.user-form-button {
    color: white;
    background-color: rgb(26, 229, 209);
}
.user-form-button:hover  {
    opacity: 80%;
}